<h1>ToDo List</h1>

<!--<p *ngIf="!forecasts"><em>Loading...</em></p>-->

<table class='table'>
  <thead>
  <tr>
    <th style="widht: 0.5%"></th>
    <th>Date</th>
    <th>Activity</th>
    <th>Checked</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td [ngStyle]="{'background-color': getColor(item)}" style="width: 0.1%"></td>
    <td style="width: 20%">{{ item.activityDate | date:'short' }}</td>
    <td style="width: 30.4%">{{ item.activity }}</td>
    <td style="width: 10%"><input [(ngModel)]="item.isChecked" type="checkbox" (click)="toggleStatus(item.id,item.isChecked)"/></td>
    <td style="width: 34.5%">
        <a [routerLink]="['/todo-edit', item.id]">Edit</a> | <a href="#" (click)="delete(item.id)">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<button (click)="create()"> New ToDo </button>
