<h1>Login</h1>

<form>
  <div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <input type="email" name="email" placeholder="enter email" [(ngModel)] = "model.email" #email="ngModel"
                 required email />
        </div>
        <div class="col-md-12">
          <input type="password" name="password" placeholder="enter password" [(ngModel)] = "model.password" #pass="ngModel"
                 required/>
        </div>
        <div class="col-md-12">
          <button [disabled]="email.invalid || pass.invalid"
                  class="btn btn-default" (click)="Login(model)">Enter</button>
        </div>
      </div>
    </div>
  </div>
</form>
