
<div *ngIf="model" class="container">
    <form (ngSubmit)="onSubmit()">
      <h2>Details</h2>
        <!--<h2>{{ model.activity | uppercase }} Details</h2>-->
        <!--<div><span>id: </span>{{model.id}}</div>-->
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <label class="col-md-12">
                        activity:
                    </label>
                    <input class="col-md-12" [(ngModel)]="model.activity" name="activity" #activity="ngModel" required />
                </div>
                <div class="col-md-12">
                    <label class="col-md-12">
                        description:
                    </label>
                    <textarea class="col-md-12" [(ngModel)]="model.description" name="description"></textarea>
                </div>
                <div class="col-md-12">
                    <label class="col-md-12">
                        date:
                    </label>
                    <input class="col-md-12" type="datetime-local" [(ngModel)]="model.activityDate" name="activityDate" #activityDate="ngModel" required />
                </div>
                <button [disabled]="activity.invalid || activityDate.invalid" style="margin-top:10px" type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="!model">
    Loading...
</div>
